body {
    margin: 0;
    padding: 0;
}

main {
    padding:16px;
}

img {
    height: 200px;
}

footer {
    height: 200px;
    padding: 20px,0;
    background-color: rgb(244, 20, 140);
    display: flex;
    color: yellow;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
nav {
    border-bottom: 1px solid rgb(75, 7, 234);
    padding: 16px;
    background-color: rgb(250, 44, 154);

}
html{
    background-color: blanchedalmond;
}

#grid-thing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
 a{
    color: rgb(12, 2, 212);
    text-decoration: none;
 }

 #main-page{
    color: yellow;
 }

 table{
    background: linear-gradient(to bottom,yellow, rgb(233, 7, 154) );
 }
tr:nth-child(even){
    background-color: rgba(0, 0, 255, 0.101);
}
nav a:hover{
    background-color: aqua;
}
